<plist version="1.0"><dict><key>adobe-flat-icons</key><string>10</string><key>boxicons</key><string>22</string><key>browsers</key><string>9</string><key>buttonz</key><string>16</string><key>cat-force</key><string>12</string><key>cat-power</key><string>15</string><key>creative-nerds-wooden-icons</key><string>48</string><key>mahjong</key><string>37</string><key>somacro___dpi_social_media_icons_by_vervex-dfjq</key><string>10</string><key>yama1-social-3</key><string>13</string></dict></plist>