<plist version="1.0">
<dict>
<key>browsers</key>
<string>9</string>
<key>buttonz</key>
<string>16</string>
<key>cat-force</key>
<string>12</string>
<key>cat-power</key>
<string>15</string>
<key>creative-nerds-wooden-icons</key>
<string>48</string>
<key>mahjong</key>
<string>37</string>
</dict>
</plist>
